body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  color: #8be9fd;
  margin: 0 auto;
}
.red{
    color: #ff6e67;
}